@import "../../Styles/common.scss";

.headerWrapper {
  width: 100%;
  height: 70px;
  padding: 10px 40px;
  background-color: $backgroung;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 140px;
    height: 40px;
    background-image: url("../../assets/image/logo.PNG");
    background-position: center;
    background-size: cover;
  }

  .logout {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    div {
      width: 40px;
      height: 40px;

      svg {
        fill: $text-first;
        transition: 0.5s;
        width: 30px;
        height: 30px;
        transform: rotateY(180deg);

        &:hover {
          fill: $text-second;
          transform: rotateY(360deg)
        }
      }
    }
  }

  @media screen and (min-width: map-get($breakpoints, large)) {
    .logo {
      width: 200px;
      height: 60px;
      background-image: url("../../assets/image/logo.PNG");
      background-position: center;
      background-size: cover;
    }
  }
}