@import "../../Styles/common.scss";

.headerWrapper {
  width: 100%;
  height: 70px;
  padding: 10px 40px;
  background-color: $backgroung;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: $text-first;
  }

  .logout {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    div {
      svg {
        fill: $text-first;
        transition: 0.4s;

        &:hover {
          fill: $text-second;
        }
      }
    }
  }
}