$backgroung: rgb(26, 26, 26);
$box: rgb(59, 59, 59);
$text-first: rgb(255, 155, 0);
$text-second: #fff;
$worning: #e03202;
$isDone: #66ff00;

$xs-fz: 14px;
$s-fz: 16px;
$m-fz: 18px;
$l-fz: 20px;
$x-fz: 24px;
$xl-fz: 28px;

$radius: 5px;

$breakpoints: (small: 480px,
  medium: 800px,
  large: 1020px,
);