@import "../../Styles/common.scss";

.wrapper {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: $backgroung;
  display: flex;
  justify-content: center;
  align-items: center;

  .insideBox {
    width: 60%;
    height: 60vh;
    padding: 10px;
    background-color: $box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;

    h2 {
      color: $text-first;
    }

    form {
      height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;


      input {
        @include input;

      }

      ::placeholder {
        font-weight: 200;
      }

      .btnWrapper {
        position: relative;
        overflow: hidden;
        width: 120;
        height: 40px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;


        &:hover>.left {
          animation: bgcAnimationLeft 1s forwards;


        }

        &:hover>.right {
          animation: bgcAnimationRight 1s forwards;
        }

        div {
          position: absolute;
          width: 60px;
          height: 40px;
          background-color: $text-first;
          z-index: 2;

        }

        .left {
          top: 0;
          left: 0;
          border-top-left-radius: $radius;
          border-bottom-left-radius: $radius;

        }

        .right {
          top: 0;
          right: 0;
          border-top-right-radius: $radius;
          border-bottom-right-radius: $radius;

        }

        button {
          @include button;
          position: relative;
          z-index: 3;
        }

      }
    }

    p {
      color: $text-second;
    }

    a {
      color: $text-first;
      text-decoration: none;
      transition: 0.35s;

      &:hover {
        color: $text-second;
      }
    }
  }

  @media screen and (orientation: landscape) {
    .insideBox {
      height: 70vh;
    }
  }

  @media screen and (min-width: map-get($breakpoints, large)) {
    .insideBox {
      width: 45%;
      justify-content: flex-start;

      h2 {
        margin-top: 30px;
        margin-bottom: 100px;
        font-size: $xl-fz*1.3;
      }

      form {
        height: 200px;

        .btnWrapper {
          width: 159px;
          height: 50px;

          div {
            width: 80px;
            height: 50px;
          }
        }
      }

      p {
        margin-top: 20px;
      }

      a {
        margin-top: 40px;
        font-size: $l-fz;

      }
    }
  }
}

@keyframes bgcAnimationLeft {
  0% {
    left: 0;
  }

  100% {
    left: -110%;
  }
}

@keyframes bgcAnimationRight {
  0% {
    right: 0;
  }

  100% {
    right: -110%;
  }
}